@import "https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css";

body {
    margin: 0;
    width: 100%;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: var(--color-background-white);
}

:root {
    /* Blue theme colors */
    --color-blue-theme: #0083ff;
    --color-blue-theme-2: #4ea9ff;
    --color-blue-theme-3: #65b4ff;
    --color-blue-theme-4: #85c4ff;

    --color-blue-theme-opacity-8: rgba(0, 131, 255, .8);
    --color-blue-theme-2-opacity-8: rgba(78, 169, 255, .8);
    --color-blue-theme-3-opacity-8: rgba(101, 180, 255, .8);
    --color-blue-theme-4-opacity-8: rgba(133, 196, 255, .8);

    --color-blue-theme-text: #f0f8ff;
    --color-blue-theme-text-2: #d1e9ff;
    --color-blue-theme-text-3: #acd7ff;

    --color-blue-theme-text-opacity-8: rgba(240, 248, 255, .8);
    --color-blue-theme-text-2-opacity-8: rgba(209, 233, 255, .8);
    --color-blue-theme-text-3-opacity-8: rgba(172, 215, 255, .8);

    /* Error theme colors */
    --color-error-theme: #dd0000;
    --color-error-theme-4: #ffcaca;

    /* Black & white colors */
    --color-background-white: #ffffff;
    --color-background-black-text: #191e22;
    --color-background-black-text-2: #9ea8b1;

    --color-background-white-opacity-8: rgba(255, 255, 255, .8);
    --color-background-black-text-opacity-8: rgba(25, 30, 34, .8);
    --color-background-black-text-2-opacity-8: rgba(158, 168, 177, .8);

    /* Shadows */
    /* By https://tobiasahlin.com/blog/layered-smooth-box-shadows/ */
    --shadow-dreamy: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
    --shadow-shorter: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11), 0 8px 16px rgba(0, 0, 0, 0.11);
    --shadow-longer: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09), 0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09), 0 32px 16px rgba(0, 0, 0, 0.09);

    /* Border radius */
    --border-radius: 4px;
    --border-radius-2: 8px;

    /* Filters */
    --blur-8: blur(8px);
    --blur: blur(16px);

    /* Transitions */
    --hover-transition: all 1s;
    --active-transition: all 0.15s;
    --show-hide-transition: all 0.35s;

    /* Durations */
    --hover-duration: 1s;
    --active-duration: 0.15s;
    --show-hide-duration: 0.35s;
}