.searchBar {
    margin: 8px;
    outline: none;
    border: none;
    background-color: var(--color-blue-theme-2-opacity-8);
    line-height: 30px;
    font-size: 12px;
    padding: 0 8px;
    border-radius: var(--border-radius);
    color: var(--color-blue-theme-text);
    width: 256px;
    max-width: calc(100% - 16px);
    transition: var(--hover-transition);
}

.searchBar:hover {
    background-color: var(--color-blue-theme-3-opacity-8);
    transition: var(--hover-transition);
}

.searchBar:focus {
    background-color: var(--color-blue-theme-4-opacity-8);
    box-shadow: 0 0 32px var(--color-blue-theme-opacity-8);
    transition: var(--active-transition);
}

.searchBar::-webkit-input-placeholder {
    color: var(--color-blue-theme-text-2);
}

.searchBar:-moz-placeholder {
    color: var(--color-blue-theme-text-2);
}

.searchBar::-moz-placeholder {
    color: var(--color-blue-theme-text-2);
}

.searchBar:-ms-input-placeholder {
    color: var(--color-blue-theme-text-2);
}