.flyout {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-background-white);
    border-radius: var(--border-radius-2);
    box-shadow: var(--shadow-dreamy);
    width: 550px;
    max-width: calc(100% - 16px);
}

.title {
    padding: 8px;
}

.titleLeading {
    margin: 8px;
    display: inline-block;
}

.titleTitle {
    font-size: 16px;
    line-height: 16px;
    font-weight: bold;
    margin: 0;
    padding: 8px;
    display: inline-block;
}

.titleCloseBtn {
    display: inline-block;
    float: right;
    padding: 8px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 24px;
    line-height: 16px;
    border-radius: 32px;
    transition: var(--hover-transition);
}

.titleCloseBtn:hover, .titleCloseBtn:focus {
    background-color: var(--color-blue-theme-text-2);
    transition: var(--hover-transition);
}

.titleCloseBtn:active {
    background-color: var(--color-blue-theme-text-3);
    transition: var(--active-transition);
}

.flyoutContent {
    padding: 16px;
}

.flyoutFooter {
    padding: 16px;
}