.menu {
    width: max-content;
    background-color: var(--color-background-white-opacity-8);
    backdrop-filter: var(--blur);
    padding: 8px 0;
    border-radius: var(--border-radius);
}

.menuItem {
    display: block;
    border: none;
    outline: none;
    width: 100%;
    padding: 8px;
    padding-right: 16px;
    background-color: transparent;
    text-align: left;
    font-size: 16px;
    transition: var(--hover-transition);
}

.menuItem:hover {
    background-color: var(--color-blue-theme-text-opacity-8);
    transition: var(--hover-transition);
}

.menuItem:active {
    background-color: var(--color-blue-theme-text-2-opacity-8);
    transition: var(--active-transition);
}