.tabViewTabBar {
    text-align: center;
}

.tabs * {
    margin: 0 2px;
}

.tab {
    display: inline-block;
    font-size: 16px;
    border: none;
    border-radius: var(--border-radius);
    padding: 4px 8px;
    cursor: pointer;
    background-color: var(--color-blue-theme-text);
    color: var(--color-blue-theme);
    outline: none;
    transition: var(--active-transition);
    transform: scale(0.95);
}

.tab:hover {
    background-color: var(--color-blue-theme-text-2);
    transition: var(--hover-transition);
}

.tab:active, .tab:focus {
    background-color: var(--color-blue-theme-text-3);
    transition: var(--active-transition);
}

.tabActive {
    color: var(--color-blue-theme);
    background-color: var(--color-blue-theme-text-3);
    font-weight: bold;
    transition: var(--active-transition);
    transform: scale(1);
}