.textField {
    outline: none;
    border: none;
    border-radius: var(--border-radius);
    padding: 4px 8px;
    margin: 4px 0;
    transition: var(--hover-transition);
}

.textField:hover {
    background-color: var(--color-blue-theme-text);
    transition: var(--hover-transition);
}

.textField:focus {
    background-color: var(--color-blue-theme-text-2);
    transition: var(--active-transition);
}

.textField:focus::-webkit-input-placeholder {
    color: var(--color-blue-theme-4);
}

.textField:focus:-moz-placeholder {
    color: var(--color-blue-theme-4);
}

.textField:focus::-moz-placeholder {
    color: var(--color-blue-theme-4);
}

.textField:focus:-ms-input-placeholder {
    color: var(--color-blue-theme-4);
}

.textFieldFluid {
    display: block;
    width: calc(100% - 32px);
    padding: 8px 16px;
}